*.pyc
notes/
static/css/brand.css
static/css/meyers-reset.css
static/js/old-js-apps/
static/css/old-main-css/
templates/old-index/
venv/
.env
.gitignore.bak
static/.DS_Store
static/js/TODO_examples.html
0
