/*  Box sizing with polyfills
-------------------------------------------------- */
/*
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}*/

/* Hidden div for calculating pixels per inch
-------------------------------------------------- */
.ppi {
  height: 1in;
  width: 1in;
  left: 100%;
  position: fixed;
  top: 100%;
}

/* General Content
-------------------------------------------------- */

/* Begin to break out colors used multiple times into classes*/
.solarized_blue {
  color: #268BD2;
}
.solarized_base1 {
  color: #93A1A1;
}
.solarized_base1_lightened {
  color: #AFC0C0;
}
.solarized_base2 {
  color: #EEE8D5;
}
.solarized_base2_lightened {
  color: #CBC6B7;
}

body {
  background-color: #073642;
  font-family: 'Inconsolata', monospace;
  /*font-family: 'Open Sans', sans-serif;*/
  /*font-family: 'Space Mono', monospace;*/
  /*font-weight: 300;*/
}

.navbar-default {
  background-color: #073642;
  border-bottom: 1px dashed #bdcccc;
  height: 60px;
}
.navbar-default .navbar-brand {
  color: #bdcccc;
  margin-left: 15px;
  padding: 5px;
}
.navbar-default .navbar-brand:hover {
  color: #b58900;
}
.navbar-default .navbar-brand:focus {
  color: #b58900;
  font-weight: 600;
}
#push-brand {
  margin-left: 8px;
  margin-bottom: 25px;
}
.fa-code {
  font-size: 2.4em !important;
}
.fa-code:hover, fa-code:active {
  color: #B58900;
}
ul.nav.navbar-nav {
  float: right;
}
.navbar-default .navbar-nav > li > a {
  color: #bdcccc;
  font-size: 1.8rem;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #b58900;
}
.navbar-default .navbar-nav > li > a:focus {
  color: #b58900;
}

main.content-wrapper {
  margin-top: 8.5rem;
  flex: 1;
  font-size: 1.8rem;
  word-spacing: .1rem;
}
main.content-wrapper.tools-page {
  margin-top: 11rem;
  font-size: 1.9rem;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.title, .subhead {
  /*font-family: 'Inconsolata', monospace;*/
  margin-bottom: 0.5rem;
}
.title {
  color: #B58900;
  font-size: 2.3rem;
}
.subhead {
  color: #bdcccc;
  font-size: 1.9rem;
  /*font-weight: bold;*/
}
h4 {
  color: #bdcccc;
}
p {
  text-align: justify;
  line-height: 1.5;
  margin-bottom: 2rem;
}
/*which pseudoclass for clicked? (in order to remove text-decoration underline after click)*/
a:hover, a:active {
  text-decoration: none;
  color: #B58900;
}
a.musicforprogramming:hover, a.musicforprogramming:active {
  text-decoration: none;
  color: #9CE22E;
}
.footnote:before {
  /*display: block;*/
  /*content: " ";*/
  position: relative;
  height: 8em;
  top: -8em;
  visibility: hidden;
}
.footnote-ref:before {
  /*content: " ";*/
  position: relative;
  height: 10em;
  top: -10em;
  visibility: hidden;
}
hr.style_1 {
  border: 0;
  height: 1px; 
  width: 50%;
  background-image: linear-gradient( to right, #073642, #FFCC33, #073642 )
}
hr.style_2 {
  border: 1px;
  height: 1px;
  width: 50%;
  background-color: #93A1A1;
  background-image: linear-gradient( to right, #073642, #93A1A1, #073642 );
}
.microlight {
  font-family: 'Anonymous Pro', monospace;
  font-size: 1.7rem;
  /*font-family: 'Inconsolata', monospace;*/
  /*font-family: monospace;*/
  white-space: pre;
  margin-bottom: 0.5rem;
  /*text-align: left;*/
  overflow-x: auto;
  /*background-color: #263238;
  color: #AABBC3;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.5)*/
}
.microlight:focus {
    outline: -webkit-focus-ring-color auto 0px;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 0px;
}
.microlight:not(:last-child) {
  margin-bottom: 0.5rem;
}
.fa {
  color: #bdcccc;
}

/* Media queries for affixed content (range slider and plot area)
-------------------------------------------------- */
@media only screen and (min-width: 320px) {
/*  main.content-wrapper {
    font-size: 1.6rem;
  }*/
  div.col-sm-6.outer-col {
    padding: 1rem;
  }
  .affix {
    position: relative;
  }

  svg.mpld3-figure {
    margin: 0 9rem 0 8rem;
}
}
@media only screen and (min-width: 768px) {
  div.col-sm-6.outer-col {
    padding-right: 60px;
  }
  .btn-plot-choice {
    display: none;
  }
  .affix {
    position: fixed;
    right: .5em;
    top: 71px;
  }
  svg.mpld3-figure {
  float: right;
  padding-left: 6rem;
  margin: auto;
  }
}

div#growth-plot {
  margin-top: 1.5rem;
}
/* noUiSlider styling
-------------------------------------------------- */
.slider-wrapper {
  padding: 2% 0;
}

/* Slider base (.noUi-background doesn't seem to work)*/
.noUi-base {
  background-color: #93A1A1;
}
.noUi-connect.noUi-draggable {
  background: #B58900 !important;
}
.noUi-connect {
  background: #93A1A1 !important;
}
.noUi-horizontal.noUi-extended {
  height: 3px;
  border: 0;
  border-radius: 0;
}

/* Slider handles */
.noUi-horizontal.noUi-extended .noUi-handle {
	left: -1px;
  width: 10px;
  height: 15px;
  border-radius: 10%;
  box-shadow: none;
  background-color: #073642;
  border: 1px solid #2AA198;
  left: -5px;
  top: -6px;
  transition: width .2s cubic-bezier(0.215, 0.610, 0.355, 1.000),
  height .2s cubic-bezier(0.215, 0.610, 0.355, 1.000),
  left .2s cubic-bezier(0.215, 0.610, 0.355, 1.000),
  top .2s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
.noUi-horizontal.noUi-extended .noUi-handle.noUi-active {
  border: 2px solid #859900;
}
.noUi-horizontal.noUi-extended .noUi-handle:before {
  content: none;
}
.noUi-horizontal.noUi-extended .noUi-handle:after {
  content: none;
}
/* Contain handles within slider bar */
.noUi-horizontal.noUi-extended {
	padding-right: 0px;
}
.noUi-horizontal.noUi-extended .noUi-handle {
	left: -1px;
}
.noUi-horizontal.noUi-extended .noUi-origin  {
	right: -32px;
}

/* Slider input fields */
div.input-wrapper {
  display: block;
}
div.input-group.pull-left {
  display: inline-flex;
}
div.input-group.pull-right {
  display: inline-flex;
}
span.input-group-addon {
  border: 0;
  padding-top: 28px;
  background: transparent;
  color: #2AA198;
}
/*"focused" class is added by input handler in app.js*/
span.input-group-addon.focused {
  color: #859900;
  font-size: 1.2em;
}
span#basic-addon1.input-group-addon {
  padding-right: 10px;
}
span#basic-addon2.input-group-addon {
  padding-left: 0;
}
span#basic-addon4.input-group-addon {
  padding-left: 4px;
}
.limit-input {
  margin: 20px 0 0;
  border: 1px solid transparent;
  outline: none;
  width: 60px;
  text-align: center;
  padding: 4px 0 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: transparent;
  color: inherit;
}
.limit-input:focus {
  /*border: 1px dashed #859900;*/
  outline: none;
  color: #859900;
  font-size: 1.2em;
  font-weight: bold;
}

/* Plot
-------------------------------------------------- */


/* plot chooser buttons
-------------------------------------------------- */
.btn-plot-choice {
  border: 0;
  padding-left: 0;
  padding-right: 0;
  background: transparent;
  color: #337ab7;
  font-size: 1.8rem;
}
.btn-plot-choice:hover, .btn-plot-choice:focus {
  color: #B58900;
}
/*span.btn-addon {
  color: #337ab7;
}
span.btn-addon:hover, span.btn-addon:focus {
  color: #B58900;
}
span.btn-addon.focused, span.btn-addon: {
  color: #859900;
}*/


/* Plot Space
-------------------------------------------------- */
#plot-space {
  display: block;
  text-align: center;
}
#plot-info {
  display: block;
  margin-top: 3rem;
  /*border: 1px dashed #bdcccc;*/
  /*padding: 130px 25px;*/
  padding: 10rem 3rem;
  font-size: 1.5rem;
  line-height: 3rem;
}
#plot-info, #plot-video {
  /*display: block;*/
  border: 1px dashed #bdcccc;
}
#plot-video.container-fluid {
  display: none;
}
video {
  /*display: none;*/
  width: 100%;
  height: auto;
  padding: 1rem;
}
.container-fluid video {
  padding: 0 5rem;
}
#video-button-container {
  text-align: center;
}
#close-video-container {
  display: none;
  text-align: center;
}
.btn-video {
  border: 0;
  padding-left: 0;
  padding-right: 0;
  background: transparent;
  color: #337ab7;
  font-size: 2rem;
}
.btn-video:hover, .btn-video:active {
  text-decoration: none;
  color: #B58900;
}

/* FOOTER (sticky footer using flexbox)
-------------------------------------------------- */
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
/*.content-wrapper {
  flex: 1;
}*/
footer {
  border-top: 1px dashed #bdcccc;
  /*height: 100px;*/
  margin-top: 10px;
}
.footer-inner-left, .footer-inner-right {
  height: 60px;
}
.footer-text {
  padding-left: 15px;
}
.footer-img {
  padding-right: 15px;
  right: 15px;
}
.footer-text, .footer-img {
  position: absolute;
  bottom: 0;
}
