/*  Box sizing with polyfills
-------------------------------------------------- */
/*
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}*/

/* Hidden div for calculating pixels per inch
-------------------------------------------------- */
.ppi {
  height: 1in;
  width: 1in;
  left: 100%;
  position: fixed;
  top: 100%;
}

/* General Content
-------------------------------------------------- */
body {
  color: #93A1A1;
  background-color: #073642;
  font-family: 'Inconsolata', monospace;
}

.navbar-default {
  background-color: #073642;
  border-bottom: 1px dashed #bdcccc;
}
.navbar-default .navbar-brand {
  color: #bdcccc;
  margin-left: 15px;
}
.navbar-default .navbar-brand:hover {
  color: #b58900;
}
.navbar-default .navbar-brand:focus {
  color: #b58900;
  font-weight: 600;
}
#push-brand {
  margin-left: 0;
}
.icon-tree-algorithm {
  font-size: 2.7em;
}
ul.nav.navbar-nav {
  float: right;
}

main.content-wrapper {
  margin-top: 60px;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
div.col-md-7.outer-col {
  padding-right: 20px;
}
.title {
  color: #B58900;
  font-size: 2.3rem
}
.subhead {
  color: #bdcccc;
  font-size: 1.9rem;
  font-weight: bold;
}
h4 {
  color: #bdcccc;
}
p {
  text-align: justify;
  font-size: 1.6rem;
  line-height: 1.5;
}
.microlight {
  font-family: monospace;
  white-space: pre;
  float: both;
}
.microlight:focus {
    outline: -webkit-focus-ring-color auto 0px;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 0px;
}

/* Affixed content (range slider and plot)
-------------------------------------------------- */
@media only screen and (min-width: 320px) {
  .affix {
    position: relative;
  }
}
@media only screen and (min-width: 768px) {
  .affix {
    position: fixed;
    right: .5em;
    top: 71px;
  }
  .btn-plot-choice {
    display: none;
  }
}

/* noUiSlider styling
-------------------------------------------------- */
.slider-wrapper {
  padding: 2% 0;
}

/* Slider base (.noUi-background doesn't seem to work)*/
.noUi-base {
  background-color: #93A1A1;
}
.noUi-connect.noUi-draggable {
  background: #B58900 !important;
}
.noUi-connect {
  background: #93A1A1 !important;
}
.noUi-horizontal.noUi-extended {
  height: 3px;
  border: 0;
  border-radius: 0;
}

/* Slider handles */
.noUi-horizontal.noUi-extended .noUi-handle {
	left: -1px;
  width: 10px;
  height: 15px;
  border-radius: 10%;
  box-shadow: none;
  background-color: #073642;
  border: 1px solid #2AA198;
  left: -5px;
  top: -6px;
  transition: width .2s cubic-bezier(0.215, 0.610, 0.355, 1.000),
  height .2s cubic-bezier(0.215, 0.610, 0.355, 1.000),
  left .2s cubic-bezier(0.215, 0.610, 0.355, 1.000),
  top .2s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
.noUi-horizontal.noUi-extended .noUi-handle.noUi-active {
  border: 2px solid #859900;
}
.noUi-horizontal.noUi-extended .noUi-handle:before {
  content: none;
}
.noUi-horizontal.noUi-extended .noUi-handle:after {
  content: none;
}
/* Contain handles within slider bar */
.noUi-horizontal.noUi-extended {
	padding-right: 0px;
}
.noUi-horizontal.noUi-extended .noUi-handle {
	left: -1px;
}
.noUi-horizontal.noUi-extended .noUi-origin  {
	right: -32px;
}

/* Slider input fields */
div.input-wrapper {
  display: block;
}
div.input-group.pull-left {
  display: inline-flex;
}
div.input-group.pull-right {
  display: inline-flex;
}
span.input-group-addon {
  border: 0;
  padding-top: 28px;
  background: transparent;
  color: #2AA198;
}
/*"focused" class is added by input handler in app.js*/
span.input-group-addon.focused {
  color: #859900;
  font-size: 1.2em;
}
span#basic-addon1.input-group-addon {
  padding-right: 10px;
}
span#basic-addon2.input-group-addon {
  padding-left: 0;
}
span#basic-addon4.input-group-addon {
  padding-left: 4px;
}
.limit-input {
  margin: 20px 0 0;
  border: 1px solid transparent;
  outline: none;
  width: 60px;
  text-align: center;
  padding: 4px 0 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: transparent;
  color: inherit;
}
.limit-input:focus {
  /*border: 1px dashed #859900;*/
  outline: none;
  color: #859900;
  font-size: 1.2em;
  font-weight: bold;
}

/* Plot
-------------------------------------------------- */


/* plot chooser buttons
-------------------------------------------------- */
.btn-plot-choice {
  border: 0;
  /*padding-top: 28px;*/
  padding-left: 0;
  padding-right: 0;
  background: transparent;
  color: inherit;
  font-size: 0.9em;
}
.btn-plot-choice:hover, .btn-plot-choice:focus {
  color: #859900;
}
span.btn-addon {
  color: #2AA198;
}
span.btn-addon.focused, span.btn-addon: {
  color: #859900;
}


/* Plot Space
-------------------------------------------------- */
#plot-space {
  text-align: center;
}

/* FOOTER (sticky footer using flexbox)
-------------------------------------------------- */
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.content-wrapper {
  flex: 1;
}
footer {
    /*margin-right: 5px;*/
    margin: 0px 15px 0px 15px;
    background-color: rgba(255, 255, 255, 0.37);
	  border: 1px solid #F7F7F7;
	  box-shadow: 0px 0px 2px 0px rgba(181, 181, 181, 0.3);
}
